body{
//background: linear-gradient(black, blue);
  background-color: rgb(50,50,50);
  text-align: center;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;

}

.header{
	min-height:60px;
	margin: 0px;
	padding: 0px;
        font-family:'Oswald', sans-serif; 
	width: 95%;
}
.slogan{
       font-size:30px;
       font-family: cursive;
       font-style: italic;
       margin-bottom: 10px;
}
.title{
	text-align: center;
        font-family:'Oswald', sans-serif; 
        font-size: 60px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.topnav {
  
  border-bottom: double 2px;
  width: 95%;
  float: center;
  border-top: solid 2px;
  overflow: hidden;
  background-color: #333;
  font-family: 'Oswald', sans-serif;
  margin: auto;
  text-align: center;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.slides{
	margin-top: 20px;
}

#botd {
	font-size: 30px;
	font-family: cursive;
	font-style: italic;
	margin-bottom: 0px;
}
dd{
  text-align: center;
  display: inline-block;
  margin-left: auto;
 
}

